<footer>
    
    <nav class="footer-nav">

        <div class="footer-nav-redes">
            <h2 class="titulo-redes">Nuestras Redes</h2>
            <div class="footer-red footer-instagram"><a href="https://www.instagram.com/veoverde.ar/" target="BLANK"><i class="fab fa-instagram"></i></a></div>
            <div class="footer-red footer-facebook"><a href="https://www.facebook.com/veoverde.ar" target="BLANK"><i class="fab fa-facebook-square"></i></a></div>
            <div class="footer-red footer-twitter"><a href="https://twitter.com/" target="BLANK"><i class="fab fa-twitter"></i></a></div>
        </div>

        <div class="footer-nav-nosotros">
            <h2 class="titulo-nosotros">Nosotros</h2>
            <div class="footer-nosotros-location"><a href="https://g.page/veoverde-344?share" target="BLANK"><i class="fas fa-map-marker-alt"></i> Villarroel 1143, CABA, Argentina</a></div>
        </div>
            
        <form action="" method="POST" class="footer-email-newsletter">
            <label for="newsletter" class="footer-titulo-newsletter"><h3>Suscribite a nuestro Newsletter</h3></label>
            <input type="email" name="newsletter" class="footer-input-newsletter" placeholder="Ej: user@gmail.com">
            <button type="submit" class="footer-button-newsletter">Registrarme</button>
        </form>

    </nav>

    <div class="footer-wsp-button">
        <a href="https://wa.me/541133333333"><i class="fab fa-whatsapp"></i></a>
    </div>

    <div class="footer-bottom">
        <figure class="logo-footer">
            <img src="/images/veoverde-logo.png" alt="Logo Footer">
        </figure>

        <figure class="imagen-afip">
            <img src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg">
        </figure>

        <div class="footer-copyright">
            <p>© Veoverde - 2021. Todos los derechos reservados.</p>
            <a href="/">Términos y Condiciones</a>
        </div>
    </div>      

</footer>