<header>
    <div class="top-header"> 
        <div class="burguer-menu">
            <button type="menu"><i class="fa fa-bars burger"></i></button>
        </div>
        <div class="header-logo">
            <a href="/"><img src="/images/veoverde-nombre.png" alt="veoverde-nombre"></a>
        </div>
        <div class="shopping-cart">
            <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>

    <div>
        <form action="/products/search" method="POST" class="header-search-form">
        
            <input type="text" name="name" placeholder="¿Qué estás buscando?">
            <button class="submit"><i class="fa fa-search"></i></button>

        </form>
    </div>

    <nav>
        <ul>
           <!-- <li><a href="#">Ofertas  <i class="fas fa-tags"></i></a></li> -->
            <li><a href="/products">Lista de Productos <i class="fas fa-store"></i></a></li>
            <li><a href="/products/create">Crear Producto <i class="fas fa-dollar-sign"></i></a></li>
            <li><a href="/#us">Nosotros <i class="fas fa-question-circle"></i></a></li>
        </ul>
        <ul>
            <% if(locals.isLogged) { %>
                <li>Hola, <%= (locals.userLogged.firstName + " " + locals.userLogged.lastName) %></li>
                <li><a href="/users/profile">Mi perfil</a></li>
                <li><a href="/users/logout">Cerrar Sesion</a></li>                
            <% } else { %>
                <li><a href="/users/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <% } %>
        </ul>
    </nav>
</header>