<!DOCTYPE html>
<html lang="en">
<head>
    <!-- partial del head -->
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/product-detail.css">
    <title>Detalle del Producto | VEOVERDE</title>
</head>
<body>

    <!-- partial del header -->
    <%- include("../partials/header") %>
   
    <main>
       <section>
           <article class="first-product">
                <div>
                    <h2 class="product-name">Calendario Plantable 2022</h2>
                </div>
                
                <div class="calendario-plantable-2022">
                <img src="/images/calendario-plantable-2022.png" alt="Foto calendario plantable 2022">
                </div>
                
                <div class="product-article-discount">
                    <p class="discount-discount">10% OFF </p>
                    <p class="discount-p">COMPRANDO</p>
                    <p class="discount-p"> 100 o MÁS</p>
                </div>

                <div>
                    <h3>$400</h3>
                </div>

                <div class="payment-shipping">
                    <h4><i class="fas fa-credit-card"></i>    medios de pago</h4>
                
                    <h4><i class="fas fa-truck-loading"></i>    formas de entrega</h4>
                </div>

                
                <form action="" metod="POST">
                    

                    <div class="buy-form-submit">
                        <div class="quantity">
                            <input type="text" placeholder="Cantidad">
                        </div>
                        <button type="submit"><a href="/productCart" style="text-decoration:none">Comprar</a></button>
                        
                        
                    </div>
                </form>

                <div>
                    <h5>
                        <ul class="description">
                            <li>
                                <i class="fas fa-circle"></i>12 Postales Plantables 10x15 cm (un mes por tarjeta).
                            </li>
                            <li>
                                <i class="fas fa-circle"></i>12 Semillas diferentes para que llenes tu año de verde.
                        Instructivo, con tips y consejos para utilizarlo.
                        Packaging que se transforma en soporte de escritorio.
                            </li>
                        </ul>
                    </h5>
                </div>

                <div>
                    <h6>Este calendario tiene su origen en materiales recuperados y fue gracias al reciclaje que logró esta nueva forma y destino.

                        Este año queremos que nos acompañes mes a mes con las fechas más importantes del calendario ambiental.
                        
                        Una buena oportunidad para conocer más, generar conciencia y acción sobre diversos temas que nos invitan a reflexinar sobre nuestros hábitos y costumbres.</h6>
                </div>
           </article>
       </section>
    </main>

    <!-- partial del header -->
    <%- include("../partials/footer") %>

</body>
</html>