<!DOCTYPE html>
<html lang="en">
<head>
    <!-- partial del head -->
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/product-cart.css">
    <title>Carro de Compras | VEOVERDE</title>
    <script src="/js/products/productCart.js"></script>
</head>
<body>

    <!-- partial del header -->
    <%- include("../partials/header") %>

   <main>
        <div class= "go-back">
           <p><a href="/">Inicio</a></p> >> Carrito
        </div> 
        <!-- Simulacion de compra pendiente de vinculacion con compra en productDetail-->

        <!-- Producto 1-->
        <!-- <div class= "main-shopping-cart">
            <div class= "description-cart">
                <img src="/images/products/veoverde-lapiz-plantable.png" alt="veoverde-lapiz-plantable">
                <p class= "product-description">Lápiz Plantable</p>
                <p class= "quantity-product">1</p>
                <p class= "product-price">$200</p>
            </div>
            <ul class= "shopping-cart-options">
                <li><a href="#">Eliminar</a></li>
                <li><a href="#">Comprar ahora</a></li>
                <li><a href="#">Guardar para después</a></li>
            </ul>
        </div> -->

          <!-- Producto 2-->
        <!-- <div class= "main-shopping-cart">
            <div class= "description-cart">
                <img src="/images/products/veoverde-lapiz-plantable.png" alt="veoverde-lapiz-plantable">
                <p class= "product-description">Lápiz Plantable</p>
                <p class= "quantity-product">1</p>
                <p class= "product-price">$300</p>
            </div>
            <ul class= "shopping-cart-options">
                <li><a href="#">Eliminar</a></li>
                <li><a href="#">Comprar ahora</a></li>
                <li><a href="#">Guardar para después</a></li>
            </ul>
        </div> -->
 
         <!-- Estructura a la espera de funcion compra-->
        <!-- <div class= "total-amount-cart">
            <p>Total compra</p>
            <p>$500</p>
         </div> -->
 
        <!-- Buscar la forma de vincular boton con metodo de pago-->
        <!-- <div class= "check-out">
            <button>Continuar compra</button>
        </div> -->
   </main>

    <!-- partial del footer -->
    <%- include("../partials/footer") %>
    
</body>
</html>