*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header.header{

}

nav.nav{

}

a.logo{

}

ul.nav-menu{

}

li.nav-menu-item{

}

a.nav-menu-link{

}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}

/* Header */

header{
    padding-top: 5px;
    background-image: url("/images/brand-images/pinos.png");
    opacity: 80%;
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.burguer-menu{
    width: 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.burguer-menu button{
    color: white;
    border: none;
    background: none;
}

.burguer-menu i{
    font-size: 24px;
}

.contenido{
    display: none;
}
/* clases para el burguer menu */

.burguer-menu-opened{
    position: fixed;
    width: 20vw;
    height: 100vh;
}

.show{
    display: flex;
}


.header-logo{ 
    width: 60%;
    display: flex;
    justify-content: center;
}

.header-logo a{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.header-logo img{
    margin: 0px;
    padding: 0px;
    width: 90%;
    max-width: 160px;
}

.shopping-cart{
    width: 15%;
    display: flex;
    justify-content: center;
}

.shopping-cart i{
    font-size: 22px;
    color: white;
}

.shopping-cart a:visited{
    color: white;
}

.header-search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.header-search-form input{
    width: 87%;
    padding: 3px;
    border: 2px solid black;
    border-radius: 3px;
    position: relative;
    right: -5px;
}

.header-search-form button{
    padding: 3px;
    border: 2px solid black;
    border-radius: 3px;
    position: relative;
    left: -4px;
}

header nav{
    display: none;
}

header nav ul li a:hover{
    color: initial;
    color: white;
}

header nav ul li a:visited{
    color: initial;
    color: white;
}

header nav ul li a:link{
    color: initial;
    color: white;
}

/* Descomentarlo si se necesita usar para algo

@media (min-width: 481px){

}
*/

@media (min-width: 768px){
    header{
        position: relative;
    }
    
    .burguer-menu{
        display: none;
    }
    
    .header-logo{ 
        width: 25%;
        justify-content: flex-start;
        padding-left: 25px;
    }
    
    .header-search-form {
        width: 40%;
        max-width: 100%;
        position: absolute;
        top: 1px;
        left: 35vw;
    }

    header nav{
        display: flex;
        justify-content: space-between;
    }
    
    header nav ul{
        display: flex;
        justify-content: space-around;
        margin: 5px 10px;
        
    }
    
    header nav ul li{
        list-style-type: none;
        padding: 7.5px;
    }

    header nav ul li a{
        text-decoration: none;
        list-style-type: none;
    }

}


/* Descomentarlo si se necesita usar para algo

@media (min-width: 1280px){
    
}
*/
    