*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}

/* Header */

header{
    padding: 25px 0px;
    background-image: url("/images/brand-images/pinos.png");
    opacity: 80%;
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.burguer-menu{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 290ms;
}

.burguer-menu-closed{
    width: 15%;
}

.burguer-menu button{
    color: white;
    border: none;
    background: none;
}

.burguer-menu button i{
    font-size: 24px;
}

.contenido-closed{
    display: none;
}
/* clases para el burguer menu */

.burguer-menu-opened{
    padding-top: 20px;
    width: 50vw;
    height: 1000px;
    position: fixed;
    top: 0.1px;
    z-index: 1000;
    background-color: rgba(20, 109, 11, 1);
}

.burguer-menu-button{
    width: 15%;
    justify-self: flex-start;
    padding: 15px 20px;
    text-shadow: 1.5px 1.5px 0.2px black;
}

.contenido-opened{
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.contenido ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
    margin-top: 20px;
}

.contenido ul li{
    width: 100%;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid grey;
}

.contenido ul li a{
    text-decoration: none;
    color: white;
}

.contenido ul li a:hover{
    text-decoration: none;
    color: rgb(202, 201, 201);
}


.header-logo{ 
    width: 60%;
    display: flex;
    justify-content: center;
}

.header-logo a{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.header-logo img{
    margin: 0px;
    padding: 0px;
    width: 90%;
    max-width: 160px;
}

.shopping-cart{
    padding-right: 20px;
    width: 15%;
    justify-self: flex-end;
    display: flex;
    justify-content: center;
}

.shopping-cart i{
    font-size: 22px;
    color: white;
    text-shadow: 1.5px 1.5px 0.2px black;
}

.shopping-cart a:visited{
    color: white;
    text-shadow: 1.5px 1.5px 0.2px black;
}

.header-search-form{
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 12px;
}

.header-search-form input{
    width: 87%;
    padding: 3px;
    border: 2px solid black;
    border-radius: 3px;
    position: relative;
    right: -5px;
}

.header-search-form button{
    padding: 3px;
    border: 2px solid black;
    border-radius: 3px;
    position: relative;
    left: -4px;
}

header nav{
    display: none;
}

header nav ul li a{
    color: initial;
    color: white;
}

header nav ul li a:hover{
    color: initial;
    color: white;
}

header nav ul li a:visited{
    color: initial;
    color: white;
}

header nav ul li a:link{
    color: initial;
    color: white;
}

/* Descomentarlo si se necesita usar para algo

@media (min-width: 481px){

}
*/

@media (min-width: 768px){
    header{
        position: relative;
    }
    
    .burguer-menu{
        display: none;
    }
    
    .header-logo{ 
        width: 25%;
        justify-content: flex-start;
        padding-left: 25px;
    }
    
    .header-search-form {
        width: 40%;
        max-width: 316px;
        position: absolute;
        top: 22.5px;
        left: 35vw;
    }

    header nav{
        display: flex;
        justify-content: space-between;
    }
    
    header nav ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin: 5px 10px;
        
    }
    
    header nav ul li{
        /* list-style-type: none; */
        padding: 7.5px;
    }

    header nav ul li a{
        text-decoration: none;
        text-shadow: 1.5px 1.5px 0.2px black;
        /* list-style-type: none; */
    }

}


@media (min-width: 1280px){
    header nav ul li a{
        font-size: 20px;
    }    
}

    
