/*Main*/

main{
    padding: 20px 5px;
    background-image: url("/images/brand-images/PRODUCTOS ALTA.png");
    background-position-x: -420px;
}

main,
.products, 
.product-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.us{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    
}

.us-figure{
    display: none;
}

.us-div{
    margin: 20px 20px;
    padding: 20px 15px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5rem;
}


.us-div h1{
    margin-bottom: 15px;
}

/*
.us-div-div{
}
*/

.us-div-div p{
    margin-bottom: 20px;
    color: black;
    text-shadow: 0.5px 0.5px 0.8px rgb(49, 49, 49);
    text-align: center;
    font-style: italic;
}

.eco-icons{
    padding: 5px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.eco-icons figure{
    width: 5%;
}

.eco-icons figure img{
    width: 100%;
}

.our-products{
    /* border: 1px solid black; */
    /* border-radius: 4px; */
    /* box-shadow: 2px 2px 6px rgb(0 0 0 / 70%); */
    padding: 20px 15px;
    margin: 10px 15px;
    /* background-color: rgb(233, 233, 233); */
}

.product-article{
    justify-content: space-around;
}

.our-products-title{
    width: 100%;
    /* background-color: rgb(233, 233, 233); */
    margin-bottom: 30px;
    text-transform: uppercase;
    top: 0.1px;
    z-index: 100;
    /* opacity: 80%; */
}

.our-products-title h2{
    font-size: 1.1em;
    text-align: center;
    /* position: sticky;
    top: 1px; */
    opacity: 50%;
    padding-top: 10px;
    margin-bottom: 10px;
}

.product-article{
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(253, 232, 203, 0.849);
    border: 1px solid rgb(0, 39, 0);
    border-radius: 5px;
    transition: all 450ms;
}

.product-article:hover{
    box-shadow: 2px 2px 6px rgb(0 0 0 / 60%);
}

.product-article-img{
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid rgb(0, 39, 0) ;
    transition: all 650ms;    
}

.product-article:hover .product-article-img img{
    transform: scale(1.05);
    opacity: 90%;
    border-radius: 5%;
}

.product-article-img img{
    max-width: 100%;      
    transition: all 650ms;
}

.product-article-discount{
    width: 45%;
    padding: 5px;
    background-color: rgb(59, 59, 59);
    color: white;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 90%;
    transition: all 650ms;
}

.product-article:hover .product-article-discount{
    transform: scale(1.1);
    opacity: 80%;
    top: 15px;
}

.discount-discount{
   font-size: 14px;
   font-style: bold;
   color: rgb(113, 224, 1);
   text-align: center;
}

.discount-p{
    font-size: 12px;
    text-align: center;
}

.product-article-details h4{
    text-align: center;
}

.product-article-description{
    text-align: center;
    margin-bottom: 10px;
}

.product-article-price{
    font-style: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.product-article-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.product-article-buttons button,
.product-article-buttons a{
    min-width: 50px;
    max-width: 60px;
}

.product-article-button{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    width: 100%;
    
}
.product-article-button-div{
    flex-wrap: wrap;
    max-width: 50%;
}

.product-article-cart-button{
    width: 40%;
    padding: 4px;
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
}

.product-article-edit-button{
    font-size: 16px;
    width: 25%;
    padding: 4px;
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
}

.product-article-delete-button{
    font-size: 16px;
    width: 25%;
    padding: 4px;
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
}

.product-article-view-button{
    width: 25%;
    font-size: 16px;
    padding: 4px;
    background-color: white;
    color: rgb(59, 59, 59);
    text-align: center;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
}

@media (min-width: 481px){

    .our-products-title h2{
        font-size: 1.7em;
    }
    
    .products{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }
    
    .product-article{
        width: 48%;
    }

}
    
@media (min-width: 768px){
    main{
        background-position-x: -370px;
    }

    .eco-icons figure{
        width: 3.5%;
    }

    .product-article{
        width: 48%;
        max-width: 400px;
    }
}

@media (min-width: 1280px){

    main{
        background-position-x: -50px;
    }

    .us{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        margin-top: 15px;
        padding-top: 15px;
        margin-bottom: 25px;
    }
    
    .us-figure{
        display: block;
        width: 35%;
    }
    
    .us-figure img{
        width: 100%;
        height: 100%;
    }
    
    .us-div{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1.5rem;
        position: relative;
    }
    
    .us-div h1{
        position: absolute;
        top: 10px;
        left: 40%;
    }
    
    /* .us-div-div{
        position: absolute;
        top: 70px;
    } */

    .us-div-div p{
        font-size: 25px;
        text-align: center;
        font-style: italic;
    }
    
    .us-div p{
        margin-bottom: 20px;
    }

    .our-products-title h2{
        font-size: 2em;
    }
    
    .products{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }
    
    .product-article{
        width: 24%;
        min-width: 280px;
    }
    
}
    
