/*main*/

main{
    background-color:  white;
    margin-bottom: 15px;
}

.go-back {
    display: flex;
    margin: 15px;
    }
    
.go-back a{
    padding-right: 2px;
    text-decoration: none;
    color: teal;
    font-weight: bold;
}


.desgloce-menu{
    text-align: center;

}

h2{
    margin-bottom: 20px;
    font-size: 25px;
}

.login-form{
    text-align: center;
    margin-top: 70px;
}

.div-login-form{
    text-align: inherit;
    padding: 10px;
    font-size: 18px;
}
.login-form-usuario{
    font-size: 18px;
}
.login-form-password{
    font-size: 20px;
}
.login-forgot-password button{
    font-size: 9px;
    border: none;
     background-color: #1F3A3B;
     text-align: center;
     
     box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
     transition: all 450ms;
     color: white;
 }
 .login-forgot-password button:hover {
     background-color: rgb(175, 214, 175);
     }
.login-button button{
    padding: 5px; 
    border-radius: 10px;
    margin: 30px 0;
    border: none;
    background-color: #1F3A3B;
    text-align: center;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    transition: all 450ms;
    color: white;
    font-size: 18px;
}
.login-button button:hover {
    background-color: rgb(175, 214, 175);
}
.login-not-account{
    font-weight: bold;
    padding: 15px;
}


.login-not-account a{
    text-decoration: none;
}

.is-invalid{
    outline: none;
    border-style: hidden;
    box-shadow: 0px 0px 2px 0.5px rgb(235 2 2);
}

.is-valid{
    outline: none;
    border-style: hidden;
    box-shadow: 0px 0px 2px 0.4px rgb(20, 197, 20);
}

.error-valid{
    color: rgb(20, 197, 20);
}

.error-invalid{
    color: rgb(235, 2, 2)
}


/* media */

@media (min-width: 481px){
    
}

@media (min-width: 768px){

}

@media (min-width: 1280px){
    
}