/*main*/

main{
    background-image: url("/images/brand-images/PRODUCTOS ALTA.png");
    padding-bottom: 15px;
    background-position-x: -390px;
}

.go-back {
    display: flex;
    margin: 15px 15px 5px;
}
    
.go-back a{
    padding-right: 2px;
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.go-back a:hover{
    color: rgb(4, 190, 190);
}

h2.form-title{
    margin-bottom: 20px;
    font-size: 25px;
    color: rgb(78, 119, 78);
    transition: all 450ms;
}

.login-form{
    text-align: center;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.div-login-form{
    text-align: inherit;
    padding: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.div-login-form label{
    margin-bottom: 8px;
}

.div-login-form input{
    margin-bottom: 8px;
    padding: 4px;
    border-radius: 5px;
}

.login-form-usuario{
    font-size: 20px;
}

.login-form-password{
    font-size: 20px;
}

.login-form-show-password{
    margin-bottom: 15px;
    display: inline;
}
.login-form-show-password p{
    display: inline;
}

.div-remember-user{
    border: 1px solid rgba(255, 140, 0, 0.363);
    margin: 10px auto 5px;
    padding: 5px; 
    border-radius: 10px; 
}
.div-remember-user input{
    display: inline;
}

/* .login-forgot-password button{
   font-size: 9px;
   border: none;
    background-color: #1F3A3B;
    text-align: center;
    
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    transition: all 450ms;
    color: white;
}

.login-forgot-password button:hover {
    background-color: rgb(175, 214, 175);
} */

.div-login-button{
    margin: 10px auto 0px;
}

.div-login-button button{
    padding: 5px 10px; 
    border-radius: 10px;
    border: none;
    background-color: #2f5858;
    text-align: center;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    transition: all 450ms;
    color: white;
    font-size: 18px;
}
.div-login-button button:hover {
    background-color: rgb(175, 214, 175);
}

.login-not-account{
    padding: 15px;
}

.login-not-account a{
    text-decoration: none;
}

.login-not-account a:link{
    color: black;
}

.login-not-account a b{
    font-weight: bold;
    transition: all 450ms;
}

.login-not-account a b:hover{
    color: rgb(152, 184, 152);
}

.is-invalid{
    outline: none;
    border-style: hidden;
    box-shadow: 0px 0px 2px 0.5px rgb(235 2 2);
}

.is-valid{
    outline: none;
    border-style: hidden;
    box-shadow: 0px 0px 2px 0.4px rgb(20, 197, 20);
}

.error-valid{
    color: rgb(20, 197, 20);
}

.error-invalid{
    font-size: 14px;
    color: rgb(235, 2, 2);
    max-width: 160px;
}


/* media */

@media (min-width: 481px){
    main{
        background-position-x: -350px;
    }    
}

@media (min-width: 768px){
    main{
        background-position-x: -225px;
    }
}

@media (min-width: 1280px){
    main{
        background-position-x: 0px;
    }    
}