/*Main*/

main{
    background-color: rgb(255, 255, 255);
}

.go-back {
    display: flex;
    margin: 10px;
    }
    
.go-back a{
    padding-right: 2px;
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

section{
    margin: 0px auto;
}

.first-product{
    max-width:95%;
    margin: 20px auto;
    display: flex;
    padding: 20px 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(0, 39, 0);
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 60%);
}

.product-title-div{
    margin: 0px auto 10px; 
}

.product-title{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
}

.calendario-plantable-2022{
    width: 85%;
    position: relative;
    margin: auto;
}

.first-product img{
    width:100%;
    height: 70%;
    border-radius: 10px;
    border:rgb(255, 255, 255);
}

.product-article-discount{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    padding: 5px;
    background-color: rgb(59, 59, 59);
    color: white;
    border-radius: 10px;
    opacity: 0.8;
}

.discount-discount{
    font-size: 14px;
    font-style: bold;
    color: rgb(113, 224, 1);
    text-align: center;
 }
 
.discount-p{
     font-size: 12px;
     text-align: center;
}


.price-buttons-ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.price-div{
    margin: 15px auto 0px;
}

.price{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#cart-form{
}


.quantity{
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
    box-sizing: border-box;
}

.quantity input{
    width: 20%;
    padding: 10px;
    margin: 0px 8px;
    border-radius: 1000px;
    border-style: solid;
    text-align: center;
}

.buy-form-submit{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.buy-form-submit button{
    width: 50%;
    padding: 7px; 
    background-color: rgb(109, 184, 109);
    color:rgb(255, 255, 255);
    text-align: center;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    margin-bottom: 10px;
    border: none;
    transition: all 450ms; 
}

.menos, 
.mas,
#cart-button {
    color: white;
    max-width: 40px;
}

#cart-button{
    display: block;
    margin: auto;
    margin-top: 10px;
}

#cart-button:hover{    
    background-color: rgb(175, 214, 175);
    color: black;
}


.buy-form-submit button:hover{
    background-color: rgb(175, 214, 175);
    color: black;
}

.payment-shipping{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
    color: rgb(175, 214, 175); 
    margin-top: 2%;
}

.payment-shipping ul{
    list-style: none;
}

.description-div{
    padding: 5%;
    margin-top: 15px;
}

.description-h2{
    margin-bottom: 10px;
    text-align: center;
}

.description-p{
    display: none;
}

.change-description-color{
    color: rgb(94, 92, 92)
}

.show{
    display: block;
}


/* Botones de Detail */
.product-article-button{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: center;
    justify-content: space-around;
}

.product-article-button button{
    min-width: 82px;
    max-width: 100px;
}

.product-article-edit-button{
    width: 40%;
    padding: 4px;
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);

}

.fa-edit{
    padding: 5px;
}
.product-article-trash-button{
    width: 40%;
    padding: 4px;
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);

}

.fa-trash-alt{
    padding: 5px;
}

a:visited{
    color: initial;

}

/* media */

@media (min-width: 481px){

    .first-product{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .product-title{
        text-align: center;
    }

    .calendario-plantable-2022{
        max-width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .product-article-discount{
        opacity: 80%;
        width: 30%
    }

    .payment-shipping{
        font-size: 0.7em;
    }

    .quantity input{
        padding: 4px;
        font-size: 16px;
        width: 150px;
    }

    .buy-form-submit button{
        width: 150px;
    }
}

@media (min-width: 768px){

    .product-details{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .calendario-plantable-2022{
        max-width: 50%;
    }
  
    .first-product{
        margin: 20px;
        display: flex;
        flex-direction: column;
    }

    .product-title{
        text-align: center;
    }

    .product-article-discount{
        opacity: 80%;
        width: 30%
    }

    .payment-shipping{
        font-size: 1em;
    }

    .quantity input{
        padding: 4px;
        font-size: 16px;
    }

    .buy-form-submit button{
        width: 170px;
    }

}


@media (min-width: 1280px){

    .calendario-plantable-2022{
        max-width: 30%;
    }

    .product-title{
    }
    
    .first-product{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}
    
