/*Main*/

main{
    /* background-color: rgb(255, 255, 255); */
    background-image: url("/images/brand-images/PRODUCTOS ALTA.png");
    background-position-x: -410px;
}

/* .go-back {
    display: flex;
    margin: 10px;
    }
    
.go-back a{
    padding-right: 2px;
    text-decoration: none;
    color: teal;
    font-weight: bold;
} */

section{
    margin: 0px auto;
}

.first-product{
    max-width:95%;
    margin: auto;
    padding: 30px 0px;
    display: flex;
    padding: 20px 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid rgb(0, 39, 0); */
    /* border-radius: 5px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 60%); */
}

.product-title-div{
    margin: 0px auto 10px; 
}

.product-title{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 30px;
}

.product-image-div{
    width: 85%;
    max-width: 275px;
    margin: auto;
}

.first-product img{
    width:100%;
    border-radius: 10px;
    border:rgb(255, 255, 255);
}

.product-article-discount{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    padding: 5px;
    background-color: rgb(59, 59, 59);
    color: white;
    border-radius: 10px;
    opacity: 0.8;
}

.discount-discount{
    font-size: 14px;
    font-style: bold;
    color: rgb(113, 224, 1);
    text-align: center;
 }
 
.discount-p{
     font-size: 12px;
     text-align: center;
}


.price-buttons-ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.price-div{
    margin: 15px auto 0px;
}

.price{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.quantity{
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
    box-sizing: border-box;
}

.quantity input{
    width: 20%;
    padding: 10px;
    margin: 0px 8px;
    border-radius: 1000px;
    border-style: solid;
    text-align: center;
}

.buy-form-submit{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.buy-form-submit button{
    width: 50%;
    padding: 7px; 
    background-color: rgb(109, 184, 109);
    color:rgb(255, 255, 255);
    text-align: center;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    margin-bottom: 10px;
    border: none;
    transition: all 450ms; 
}

.menos, 
.mas,
#cart-button {
    color: white;
    max-width: 40px;
}

#cart-button{
    display: block;
    margin: auto;
    margin-top: 10px;
}

#cart-button:hover{    
    background-color: rgb(175, 214, 175);
    color: black;
}


.buy-form-submit button:hover{
    background-color: rgb(175, 214, 175);
    color: black;
}

.payment-shipping{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
    color: rgb(175, 214, 175); 
    margin-top: 2%;
}

.payment-shipping ul{
    list-style: none;
}

/* Botones de Detail */
.product-article-button{
    margin-top: 30px;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: center;
    justify-content: space-around;
}

.product-article-button a{
    text-decoration: none;
}

.product-article-button button{
    min-width: 82px;
    max-width: 100px;
}

.product-article-edit-button{
    width: 40%;
    padding: 4px;
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
}

.product-article-edit-button i{
    font-size: 16px;
    color: white;
}

.fa-edit{
    padding: 5px;
}
.product-article-trash-button{
    font-size: 16px;
    width: 40%;
    padding: 4px;
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);

}

.fa-trash-alt{
    padding: 5px;
}

a:visited{
    color: initial;

}

.description-div{
    padding: 15px;
    margin-top: 15px;
}

.description-h2{
    margin-bottom: 20px;
    text-align: center;
}

.description-p{
    display: none;
}

.change-description-color{
    color: rgb(94, 92, 92)
}

.show{
    display: flex;
    text-align: center;
}

/* media */

@media (min-width: 481px){

    main{
        background-position-x: -390px;
    }

    .first-product{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .product-title{
        text-align: center;
    }

    .product-image-div{
        max-width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    

    /* .payment-shipping{
        font-size: 0.7em;
    } */

    .quantity input{
        padding: 4px;
        font-size: 16px;
        width: 150px;
    }

    .buy-form-submit button{
        width: 150px;
    }
}

@media (min-width: 768px){

    .product-details{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .first-product{
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    .product-image-div{
        width: 45%;
        max-width: 300px;
        margin: 0px;
    }

    .price-buttons-ul{
        width: 45%;
    }

    .product-title{
        text-align: center;
    }

    .payment-shipping{
        font-size: 1em;
    }

    .quantity input{
        padding: 4px;
        font-size: 16px;
    }

    .buy-form-submit button{
        width: 170px;
    }

    .show{
        font-size: 16px;
    }

}


@media (min-width: 1280px){

    main{
        background-position-x: -200px;
    }

    .product-image-div{
        width: 48%;
        max-width: 340px;
    }
    .product-image-div img{
        max-width: 80%;
    }

    .price-buttons-ul{
        width: 35%;
    }
/* 
    .product-title{
    } */
    
    .first-product{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .show{
        font-size: 20px;
    }
}
    
