/*main*/

.go-back{
    margin: 30px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 10px;
}

.child{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-picture{
    width: 30%;
    margin-left: 20px;
}

.profile-details{
    width: 60%;
    margin-left: 20px;
}

.child img{
    width: 100%;
    max-width: 500px;
    border-radius: 50%;
}
.child .titulo{
    margin: 10px;
}

.child .datos{
    margin: 10px;
}
.child .datos p{
    margin-top: 10px;
}

/* media */

@media (min-width: 481px){
    
}

@media (min-width: 768px){

}

@media (min-width: 1280px){
    
}