/*main*/

main{
    padding: 30px 5px;
    background-image: url("/images/brand-images/PRODUCTOS ALTA.png");
    background-position-x: -380px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 10px;
}

.child{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-picture{
    width: 30%;
    margin-left: 20px;
}

.profile-details{
    width: 60%;
    margin-left: 20px;
}

.child img{
    width: 100%;
    max-width: 500px;
    border-radius: 50%;
}
.child .titulo{
    margin: 10px auto;
    text-align: center;
}

.child .datos{
    margin: 10px auto;
    text-align: center;
}

.child .datos div{
    margin: auto;
    text-align: center;
}

.child .datos p{
    margin-top: 10px;
}

.child .edit-div{
    margin: 10px auto;
    text-align: center;
}

.child .edit-button{
    padding: 7.5px;
    background-color: rgb(80, 80, 80);
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: 1px 1px 0.5px black;
}

.child .edit-button a{
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}

.child .edit-button a:link{
    color: white;
}

/* media */

@media (min-width: 481px){

    main{
        background-position-x: -300px;
    }

    .profile-picture{
        max-width: 150px;
    }    
}

@media (min-width: 768px){

    main{
        background-position-x: -200px;
    }

    .profile-picture{
        max-width: 180px;
    } 

}

@media (min-width: 1280px){

    main{
        background-position-x: 0px;
    }

    .profile-picture{
        max-width: 195px;
    } 
    
}