<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/de4d91a3ca.js" crossorigin="anonymous"></script>
    <link rel="icon" href="images/veoverde-icono.ico">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <title>VEOVERDE</title>
</head>
<body>
   <header>
        <div class="top-header"> 
            <div class="burguer-menu">
                <button type="menu"><i class="fa fa-bars burger"></i></button>
            </div>
            <div class="header-logo">
                <img src="./images/veoverde-nombre.png" alt="veoverde-nombre">
            </div>
            <div class="shopping-cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>

        <form action="" method="GET" class="header-search-form">
            <div>
                <input type="text" name="header-search-input" placeholder="¿Qué estás buscando?">
                <button class="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>

        <nav>
            <ul>
                <li><a href="#">Ofertas  <i class="fas fa-tags"></i></a></li>
                <li><a href="#">Tiendas Oficiales <i class="fas fa-store"></i></a></li>
                <li><a href="#">Vender <i class="fas fa-dollar-sign"></i></a></li>
                <li><a href="#">Ayuda <i class="fas fa-question-circle"></i></a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
        </nav>
   </header>
   <main>
        <section class="our-products main-section">

            <div class="our-products-title">
                <h2>Nuestros Productos</h2>
            </div>

            <div class="products">

                <article class="p-a-calendario-plantable product-article">
                    <div class="product-article-img">
                        <img src="images/calendario-plantable-2022.png" alt="Calendario Plantable">
                    </div>
                    <div class="product-article-discount">
                        <p class="discount-discount">10% OFF </p>
                        <p class="discount-p">COMPRANDO</p>
                        <p class="discount-p"> 100 o MÁS</p>
                    </div> 
                    <div class="product-article-details">
                        <h4 class="product-article-description">Calendario Plantable</h4>
                        <p class="product-article-price">$400</p>
                    </div>                                               
                    <div class="product-article-buttons">
                        <button class="product-article-buy-button">COMPRAR</button>
                        <button class="product-article-view-button"><i class="far fa-eye"></i></button>
                    </div>
                </article>

                <article class="p-a-kit-plantable product-article">
                    <div class="product-article-img">
                        <img src="images/veoverde-kits.jpg" alt="Kits Plantables">
                    </div>
                    <div class="product-article-discount">
                        <p class="discount-discount">10% OFF </p>
                        <p class="discount-p">COMPRANDO</p>
                        <p class="discount-p"> 100 o MÁS</p>
                    </div>                 
                    <div class="product-article-details">
                        <h4 class="product-article-description">Kits Plantables</h4>
                        <p class="product-article-price">$1.500</p>
                    </div>
                    <div class="product-article-buttons">
                        <button class="product-article-buy-button">COMPRAR</button>
                        <button class="product-article-view-button"><i class="far fa-eye"></i></button>
                    </div>                 
                </article>

                <article class="p-a-lapiz-plantable product-article">
                    <div class="product-article-img">
                        <img src="images/veoverde-lapiz-plantable.png" alt="Lapiz Plantable">
                    </div>
                    <div class="product-article-discount">
                        <p class="discount-discount">10% OFF </p>
                        <p class="discount-p">COMPRANDO</p>
                        <p class="discount-p"> 100 o MÁS</p>
                    </div>
                    <div class="product-article-details">
                        <h4 class="product-article-description">Lapiz Plantable</h4>
                        <p class="product-article-price">$100</p>
                    </div>                        
                    <div class="product-article-buttons">
                            <button class="product-article-buy-button">COMPRAR</button>
                            <button class="product-article-view-button"><i class="far fa-eye"></i></button>
                    </div>                    
                </article>

                <article class="p-a-sobres-compostables product-article">
                    <div class="product-article-img">
                        <img src="images/veoverde-sobres-compostables.jpg" alt="Sobres Compostables">
                    </div> 
                    <div class="product-article-discount">
                        <p class="discount-discount">10% OFF </p>
                        <p class="discount-p">COMPRANDO</p>
                        <p class="discount-p"> 100 o MÁS</p>
                    </div>                    
                    <div class="product-article-details">
                            <h4 class="product-article-description">Sobres Compostables</h4>
                            <p class="product-article-price">$30</p>
                    </div>
                    <div class="product-article-buttons">
                            <button class="product-article-buy-button">COMPRAR</button>
                            <button class="product-article-view-button"><i class="far fa-eye"></i></button>
                    </div>                    
                </article>
            </div>
        </section>

    </main>

   <footer>

    <div class="footer-wsp-button">
        <a href="https://wa.me/541133333333"><i class="fab fa-whatsapp"></i></a>
    </div>

    <div class="footer-copyright">
            <p>© Veoverde - 2021. Todos los derechos reservados.</p>
            <a href="/">Términos y Condiciones</a>
    </div>

    <img src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg" class="imagen-afip">

   </footer>

</body>
</html>