<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/de4d91a3ca.js" crossorigin="anonymous"></script>
    <link rel="icon" href="images/veoverde-icono.ico">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/product-detail.css">
    <title>Detalle del Producto | VEOVERDE</title>
</head>

<body>

    <header>
        <div class="top-header"> 
            <div class="burguer-menu">
                <button type="menu"><i class="fa fa-bars burger"></i></button>
            </div>
            <div class="header-logo">
                <img src="./images/veoverde-nombre.png" alt="veoverde-nombre">
            </div>
            <div class="shopping-cart">
                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <form action="" method="GET" class="header-search-form">
            <div>
                <input type="text" name="header-search-input" placeholder="¿Qué estás buscando?">
                <button class="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>

        <nav>
            <ul>
                <li><a href="#">Ofertas  <i class="fas fa-tags"></i></a></li>
                <li><a href="#">Tiendas Oficiales <i class="fas fa-store"></i></a></li>
                <li><a href="#">Vender <i class="fas fa-dollar-sign"></i></a></li>
                <li><a href="#">Ayuda <i class="fas fa-question-circle"></i></a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
        </nav>
    </header>
   
    <main>
       <section>
           <article class="first-product">
                <div>
                    <h2>Calendario Plantable 2022</h2>
                </div>
                
                <div class="calendario-plantable-2022">
                <img src="./images/calendario-plantable-2022.png" alt="Foto calendario plantable 2022">
                </div>
                
                <div class="product-article-discount">
                    <p class="discount-discount">10% OFF </p>
                    <p class="discount-p">COMPRANDO</p>
                    <p class="discount-p"> 100 o MÁS</p>
                </div>

                <div>
                    <h3>$400</h3>
                </div>

                <div class="payment-shipping">
                    <h4><i class="fas fa-credit-card"></i>    medios de pago</h4>
                
                    <h4><i class="fas fa-truck-loading"></i>    formas de entrega</h4>
                </div>

                
                <form action="" metod="POST">
                    

                    <div class="buy-form-submit">
                        <div class="quantity">
                            <input type="text" placeholder="Cantidad">
                        </div>
                        <button type="submit"><a href="/productCart" style="text-decoration:none">Comprar</a></button>
                        
                        
                    </div>
                </form>

                <div>
                    <h5>
                        <ul>
                            <li>
                                12 Postales Plantables 10x15 cm (un mes por tarjeta).
                            </li>
                            <li>
                                12 Semillas diferentes para que llenes tu año de verde.
                        Instructivo, con tips y consejos para utilizarlo.
                        Packaging que se transforma en soporte de escritorio.
                            </li>
                        </ul>
                    </h5>
                </div>

                <div>
                    <h6>Este calendario tiene su origen en materiales recuperados y fue gracias al reciclaje que logró esta nueva forma y destino.

                        Este año queremos que nos acompañes mes a mes con las fechas más importantes del calendario ambiental.
                        
                        Una buena oportunidad para conocer más, generar conciencia y acción sobre diversos temas que nos invitan a reflexinar sobre nuestros hábitos y costumbres.</h6>
                </div>
           </article>
       </section>
    </main>

    <footer>
    
        <nav class="footer-nav">

            <div class="footer-nav-redes">
                <h2 class="titulo-redes">Nuestras Redes</h2>
                <div class="footer-red footer-instagram"><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></div>
                <div class="footer-red footer-facebook"><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a></div>
                <div class="footer-red footer-twitter"><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></div>
            </div>

            <div class="footer-nav-nosotros">
                <h2 class="titulo-nosotros">Nosotros</h2>
                <div class="footer-nosotros-location"><a href="https://www.google.com.ar/"><i class="fas fa-map-marker-alt"></i> Avenida Siempre Viva 742, Springfield</a></div>
            </div>

            <form action="" method="POST" class="footer-email-newsletter">
                <label for="newsletter" class="footer-titulo-newsletter"><h3>Suscribite a nuestro Newsletter</h3></label>
                <input type="email" name="newsletter" class="footer-input-newsletter" placeholder="Ej: user@gmail.com">
                <button type="submit" class="footer-button-newsletter">Registrarme</button>
            </form>

        </nav>

        <div class="footer-wsp-button">
            <a href="https://wa.me/541133333333"><i class="fab fa-whatsapp"></i></a>
        </div>

        <div class="footer-bottom">

            <figure class="logo-footer">
                <img src="images/veoverde-logo.png" alt="Logo Footer">
            </figure>

            <figure class="imagen-afip">
                <img src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg">
            </figure>

            <div class="footer-copyright">
                <p>© Veoverde - 2021. Todos los derechos reservados.</p>
                <a href="/">Términos y Condiciones</a>
            </div>

        </div>      

    </footer>

</body>
</html>