<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/de4d91a3ca.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/product-detail.css">
    <title>Detalle del Producto</title>
</head>
<body>
    <header>
        <div class="top-header"> 
            <div class="burguer-menu">
                        <i class="fa fa-bars burger"></i>
            </div>
            <div class="header-logo">
                <img src="./images/veoverde-nombre.png" alt="veoverde-nombre">
            </div>
            <div class="shopping-cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>

        <form action="" method="GET" class="header-search-form">
            <div>
                <input type="text" placeholder="¿Qué estás buscando?">
                <button class="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>

        <nav>
            <ul>
                <li><a href="#">Ofertas  <i class="fas fa-tags"></i></a></li>
                <li><a href="#">Tiendas Oficiales <i class="fas fa-store"></i></a></li>
                <li><a href="#">Vender <i class="fas fa-dollar-sign"></i></a></li>
                <li><a href="#">Ayuda <i class="fas fa-question-circle"></i></a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
        </nav>
   </header>
   
   <main>
       <section>
           <article class="first-product">
                <div>
                    <h2>Calendario Plantable 2022</h2>
                </div>
                
                <div class="calendario-plantable-2022">
                <img src="./images/calendario-plantable-2022.png" alt="Foto calendario plantable 2022">
                </div>
                
                <div>
                    <h3>PRECIO</h3>
                </div>

                <div>
                    <h4>condiciones de entrega</h4>
                </div>

                
                <form action="" metod="POST">
                    

                    <div class="register-form-submit">
                        <div class="quantity">
                            <input type="text" placeholder="Cantidad">
                        </div>
                        <button type="submit">Comprar</button>
                        <a href="#"></a>
                        <button type="submit">Agregar al carrito <a href="/productCart"></a></button>
                        
                    </div>
                </form>

                <div>
                    <h5>12 Postales Plantables 10x15 cm (un mes por tarjeta).
                        <br>
                        12 Semillas diferentes para que llenes tu año de verde.
                        Instructivo, con tips y consejos para utilizarlo.
                        Packaging que se transforma en soporte de escritorio.</h5>
                </div>

                <div>
                    <h6>Este calendario tiene su origen en materiales recuperados y fue gracias al reciclaje que logró esta nueva forma y destino.

                        Este año queremos que nos acompañes mes a mes con las fechas más importantes del calendario ambiental.
                        
                        Una buena oportunidad para conocer más, generar conciencia y acción sobre diversos temas que nos invitan a reflexinar sobre nuestros hábitos y costumbres.</h6>
                </div>
           </article>
       </section>
    
    

   </main>
   <footer>

   </footer>
</body>
</html>