<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/de4d91a3ca.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/register.css">
    <title>Document</title>
</head>
<body>
   <header>
        <div class="top-header"> 
            <div class="burguer-menu">
                <button type="menu"><i class="fa fa-bars burger"></i></button>
            </div>
            <div class="header-logo">
                <img src="./images/veoverde-nombre.png" alt="veoverde-nombre">
            </div>
            <div class="shopping-cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>

        <form action="" method="GET" class="header-search-form">
            <div>
                <input type="text" placeholder="¿Qué estás buscando?">
                <button class="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>

        <nav>
            <ul>
                <li><a href="#">Ofertas  <i class="fas fa-tags"></i></a></li>
                <li><a href="#">Tiendas Oficiales <i class="fas fa-store"></i></a></li>
                <li><a href="#">Vender <i class="fas fa-dollar-sign"></i></a></li>
                <li><a href="#">Ayuda <i class="fas fa-question-circle"></i></a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
        </nav>
   </header>
   <main>
    
    <form action="/" method="POST" class="register-form"> 
        <h2>REGISTRARME</h2>
        <div class="register-form-input" class="register-form-name-surname">
            <label for="user_name-surname">Nombre y Apellido (*)</label>
            <input type="text" name="user_name-surname" id="user_name-surname" placeholder="Ej.: Juan Perez" required> 
        </div>

        <div class="register-form-input" class="register-form-email">
            <label for="user_email">E-mail (*)</label>
            <input type="email" name="user_email" id="user_email" placeholder="Ej.: juanperez@gmail.com" required> 
        </div>

        <div class="register-form-input" class="register-form-email-confirmation">
            <label for="user_email-confirmation">Confirmar E-mail (*)</label>
            <input type="email" name="user_email-confirmation" id="user_email-confirmation" placeholder="Ej.: juanperez@gmail.com" required> 
        </div>

        <div class="register-form-input" class="register-form-phone-numbrer">
            <label for="user_phone-number">Teléfono (Opcional)</label>
            <input type="text" name="user_phone-number" id="user_phone-number" placeholder="Ej.: 011 789-4526" required> 
        </div>


        <div class="register-form-input" class="register-form-password">
            <label for="user_password">Contraseña (*)</label>
            <input type="password" name="user_password" id="user_password">
            <div class="register-form-show-password">
                <input type="checkbox" onclick="showPassword()">
                <p>Mostrar Contraseña</p>                   
                <script>
                function showPassword() {
                  let x = document.getElementById("user_password");
                  if (x.type === "password") {
                    x.type = "text";
                  } else {
                    x.type = "password";
                  }
                }
                </script>
            </div>

        </div>

        <div class="register-form-input" class="register-form-password">
            <label for="user_password-confirmation">Confirmar contraseña (*)</label>
            <input type="password" name="user_password-confirmation" id="user_password-confirmation">
            <div class="register-form-show-password">
                <input type="checkbox" onclick="showPasswordConfirmation()">  
                <p>Mostrar Contraseña</p>   
                <script>
                function showPasswordConfirmation() {
                  let x = document.getElementById("user_password-confirmation");
                  if (x.type === "password") {
                    x.type = "text";
                  } else {
                    x.type = "password";
                  }
                }
                </script>
            </div>
        </div>

        <h5>Todos los campos (*) son obligatorios</h5>

        <div class="register-form-submit">
            <button type="submit">CREAR CUENTA</button>
            <a href="/login">¿Ya tenés una cuenta? <b>Iniciá sesión</b></a>
        </div>

    </form>

   </main>
   <footer>
        <div class="footer-wsp-button">
            <a href="https://wa.me/541133333333"><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="footer-copyright">
                <p>© Veoverde - 2021. Todos los derechos reservados.</p>
                <a href="/">Términos y Condiciones</a>
        </div>
        <img src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg" class="imagen-afip">
   </footer>
</body>
</html>