<!DOCTYPE html>
<html lang="en">
<head>
    <!-- partial del head -->
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/error-404.css">
    <title>Error 404 | VEOVERDE</title>
</head>
<body>

    <!-- partial del header -->
    <%- include("./partials/header") %>

    <main>

        <section class="main-section">

            <div>
                <img src="/images/brand-images/veoverde-nombre.png" alt="veoverde-logo">
                <h1>ERROR 404 - NOT FOUND</h1>
                <p>Sorry, we couldn't find what you are looking for</p>
                <a href="/">Return to our home page</a>
            </div>

        </section>

    </main>

    <!-- partial del header -->
    <%- include("./partials/footer") %>

</body>
</html>