<!DOCTYPE html>
<html lang="en">
<head>
    <!-- partial del head -->
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Log In | VEOVERDE</title>
</head>
<body>

    <!-- partial del header -->
    <%- include("../partials/header") %>

    <main>

        <div class= "go-back">
            <p><a href="/">Inicio</a></p> >> Carrito
         </div> 
 

        <form action="/" method="post" class="login-form">

            <h2>INICIAR SESION</h2>
            <div class= "div-login-form" class="login-form-usuario">
                <label for="usuario">Usuario:</label>
                <input type="text" name="usuario" placeholder="Ej: usuario@gmail.com" required>
            </div>
            <div class= "div-login-form" class="login-form-password">
                <label for="clave">Contraseña:</label>
                <input type="password" name="clave" required>   
            </div>
            <div class="login-forgot-password">
                <button type="submit">¿Olvidaste la contraseña?</button>
            </div>
            <div class="login-button">
                <button type="submit">Iniciar Sesion</button>
            </div>
            <div class="login-not-account">
                <p>¿Aún no tienes cuenta?</p>
            <a href="/users/register">Crea tu Cuenta</a>
            </div>

        </form>

    </main>

    <!-- partial del header -->
    <%- include("../partials/footer") %>

</body>
</html>