<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/de4d91a3ca.js" crossorigin="anonymous"></script>
    <link rel="icon" href="images/veoverde-icono.ico">    
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
    <title>Log In | VEOVERDE</title>
</head>
<body>
    <header>
        <div class="top-header"> 
            <div class="burguer-menu">
                <button type="menu"><i class="fa fa-bars burger"></i></button>
            </div>
            <div class="header-logo">
                <a href="/"><img src="./images/veoverde-nombre.png" alt="veoverde-nombre"></a>
            </div>
            <div class="shopping-cart">
                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <form action="" method="GET" class="header-search-form">
            <div>
                <input type="text" name="header-search-input" placeholder="¿Qué estás buscando?">
                <button class="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>

        <nav>
            <ul>
                <li><a href="#">Ofertas  <i class="fas fa-tags"></i></a></li>
                <li><a href="#">Tiendas Oficiales <i class="fas fa-store"></i></a></li>
                <li><a href="#">Vender <i class="fas fa-dollar-sign"></i></a></li>
                <li><a href="#">Ayuda <i class="fas fa-question-circle"></i></a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>

        <h6 class="desgloce-menu">Inicio > Mi Cuenta > Login</h6>

        <form action="/" method="post" class="login-form">

            <h2>INICIAR SESION</h2>
            <div class= "div-login-form" class="login-form-usuario">
                <label for="usuario">Usuario:</label>
                <input type="text" name="usuario" placeholder="Ej: usuario@gmail.com" required>
            </div>
            <div class= "div-login-form" class="login-form-password">
                <label for="clave">Contraseña:</label>
                <input type="password" name="clave" required>   
            </div>
            <div class="login-forgot-password">
                <button type="submit">¿Olvidaste la contraseña?</button>
            </div>
            <div class="login-button">
                <button type="submit">Iniciar Sesion</button>
            </div>
            <div class="login-not-account">
                <p>¿Aún no tienes cuenta?</p>
            <a href="/register">Crea tu Cuenta</a>
            </div>

        </form>

    </main>

    <footer>
    
        <nav class="footer-nav">

            <div class="footer-nav-redes">
                <h2 class="titulo-redes">Nuestras Redes</h2>
                <div class="footer-red footer-instagram"><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></div>
                <div class="footer-red footer-facebook"><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a></div>
                <div class="footer-red footer-twitter"><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></div>
            </div>

            <div class="footer-nav-nosotros">
                <h2 class="titulo-nosotros">Nosotros</h2>
                <div class="footer-nosotros-location"><a href="https://www.google.com.ar/"><i class="fas fa-map-marker-alt"></i> Avenida Siempre Viva 742, Springfield</a></div>
            </div>
                
            <form action="" method="POST" class="footer-email-newsletter">
                <label for="newsletter" class="footer-titulo-newsletter"><h3>Suscribite a nuestro Newsletter</h3></label>
                <input type="email" name="newsletter" class="footer-input-newsletter" placeholder="Ej: user@gmail.com">
                <button type="submit" class="footer-button-newsletter">Registrarme</button>
            </form>

        </nav>

        <div class="footer-wsp-button">
            <a href="https://wa.me/541133333333"><i class="fab fa-whatsapp"></i></a>
        </div>

        <div class="footer-bottom">

            <figure class="logo-footer">
                <img src="images/veoverde-logo.png" alt="Logo Footer">
            </figure>

            <figure class="imagen-afip">
                <img src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg">
            </figure>

            <div class="footer-copyright">
                <p>© Veoverde - 2021. Todos los derechos reservados.</p>
                <a href="/">Términos y Condiciones</a>
            </div>

        </div>      

    </footer>

</body>
</html>