<section class="eco-icons">
    <figure>
        <img src="/images/brand-images/1647962564539.png" alt="Iconos-reciclado">
    </figure>
    <figure>
        <img src="/images/brand-images/1647962464471.png" alt="Icono-Fuente-Responsable">
    </figure>
    <figure>
        <img src="/images/brand-images/1647962493407.png" alt="Icono-Hojas">
    </figure>
    <figure>
        <img src="/images/brand-images/1647962525754.png" alt="Icono-biobasado">
    </figure>
    <figure>
        <img src="/images/brand-images/1647962387545.png" alt="Icono-compostable">
    </figure>            
    <figure>
        <img src="/images/brand-images/1647962425671.png" alt="Icono-plantable">
    </figure>
</section>