<footer>
    
    <nav class="footer-nav">

        <div class="footer-nav-redes">
            <h2 class="titulo-redes">Nuestras Redes</h2>
            <div class="footer-red footer-instagram"><a href="https://www.instagram.com/veoverde.ar/" target="_blank"><i class="fab fa-instagram"></i></a></div>
            <div class="footer-red footer-facebook"><a href="https://www.facebook.com/veoverde.ar" target="_blank"><i class="fab fa-facebook-square"></i></a></div>
            <div class="footer-red footer-twitter"><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></div>
        </div>

        <div class="footer-nav-nosotros">
            <h2 class="titulo-nosotros">Nosotros</h2>
            <div class="footer-nosotros-location">
                <a href="https://g.page/veoverde-344?share" target="_blank">
                    <i class="fas fa-map-marker-alt"></i> Villarroel 1143, CABA, Argentina
                </a>
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.447682449!2d-58.446277532293756!3d-34.592839403163495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb59e47e82c5f%3A0xa6519ceecadfbf11!2sVEOVERDE!5e0!3m2!1ses-419!2sar!4v1659150269616!5m2!1ses-419!2sar" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
            </div>
        </div>
            
        <form action="" method="POST" class="footer-email-newsletter">
            <label for="newsletter" class="footer-titulo-newsletter"><h3>Suscribite a nuestro Newsletter</h3></label>
            <input type="email" name="newsletter" class="footer-input-newsletter" placeholder="Ej: user@gmail.com">
            <button type="submit" class="footer-button-newsletter">Registrarme</button>
        </form>

    </nav>

    <div class="footer-wsp-button">
        <a href="https://wa.me/5491123954331" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>

    <div class="footer-bottom">
        <figure class="logo-footer">
            <img src="/images/brand-images/veoverde-logo.png" alt="Logo Footer">
        </figure>

        <figure class="imagen-afip">
            <img src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg">
        </figure>

        <div class="footer-copyright">
            <p>© Veoverde - 2021. Todos los derechos reservados.</p>
            <a href="/">Términos y Condiciones</a>
        </div>
    </div>      

</footer>