*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}

/* Header */

header{
    background-color: rgb(175, 214, 175);
    padding-top: 5px;
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;  
    background-color: rgb(175, 214, 175);
    margin-bottom: 10px;
}

.burguer-menu{
    width: 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.burguer-menu button{
    border: none;
    background-color: rgb(175, 214, 175);
}


.burguer-menu i{
    font-size: 24px;
}

.header-logo{ 
    width: 60%;
    display: flex;
    justify-content: center;
}

.header-logo a{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.header-logo img{
    margin: 0px;
    padding: 0px;
    width: 90%;
    max-width: 160px;
}

.shopping-cart{
    width: 15%;
    display: flex;
    justify-content: center;
}

.shopping-cart i{
    font-size: 22px;
}

.shopping-cart a:visited{
    color: initial;
}

.header-search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 214, 175);
    text-align: center;
    padding: 10px;
}

.header-search-form input{
    width: 87%;
    padding: 3px;
    border: 2px solid black;
    border-radius: 3px;
    position: relative;
    right: -5px;
}

.header-search-form button{
    padding: 3px;
    border: 2px solid black;
    border-radius: 3px;
    position: relative;
    left: -4px;
}

header nav{
    display: none;
}

header nav ul li a:hover{
    color: #1F3A3B;;
}

header nav ul li a:visited{
    color:initial;
}

/* Descomentarlo si se necesita usar para algo

@media (min-width: 481px){

}
*/

@media (min-width: 768px){
    .burguer-menu{
        display: none;
    }
    
    .header-logo{ 
        width: 50%;
        justify-content: flex-start;
        padding-left: 25px;
    }
    
    .header-search-form input{
        max-width: 50%;
    }

    header nav{
        display: flex;
        justify-content: space-between;
    }
    
    header nav ul{
        display: flex;
        justify-content: space-around;
        margin: 5px 10px;
        
    }
    
    header nav ul li{
        list-style-type: none;
        padding: 7.5px;
    }

    header nav ul li a{
        text-decoration: none;
        list-style-type: none;
    }

}


/* Descomentarlo si se necesita usar para algo

@media (min-width: 1280px){
    
}
*/
    
