*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color: rgb(175, 214, 175);
    padding-top: 5px;
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;  
    background-color: rgb(175, 214, 175);
    margin-bottom: 10px;
}

.burguer-menu{
    width: 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.burguer-menu i{
    font-size: 24px;
}

.header-logo{ 
    width: 60%;
    display: flex;
    justify-content: center;
}

.header-logo img{ 
    width: 90%;
    max-width: 160px;
}

.shopping-cart{
    width: 15%;
    display: flex;
    justify-content: center;
}

.shopping-cart i{
    font-size: 22px;
}

.header-search-form{
    background-color: rgb(175, 214, 175);
    text-align: center;
    padding-bottom: 10px;
    
}

.header-search-form input{
    width: 85%;
}

header nav{
    display: none;
}

main{
    padding: 5px;
    padding-bottom: 14px;
}

/*Footer*/

footer{
    background-color: rgb(175, 214, 175);   
}

.footer-wsp-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(15, 226, 15);
    box-shadow: 2px 2px 6px rgb(0 0 0 / 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 8px;
    right: 8px;
}

.footer-wsp-button a i{
    font-size: 35px;
    width: 90%;
    background-color: rgb(15, 226, 15);
    color: white;
    text-align: center;
    position: relative;
    left: 0.5px;
}

.copyright{
    padding-top: 25px;
}

.imagen-afip{
    align-items: flex-end;
    width: 50px;
    margin: inherit;

}
.copyright{

}

@media (min-width: 768px){
    header nav{
        display: flex;
        justify-content: space-between;
    }
    
    header nav ul{
        display: flex;
        justify-content: space-around;
        margin: 5px 10px;
    }
    
    header nav ul li{
        list-style-type: none;
        padding: 5px;
    }
    
}
    
    
