/*Main*/

main{
    padding: 20px 5px;
}

main,
.main-section, 
.products, 
.product-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-products{
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 70%);;
    padding: 20px 15px;
    margin: 10px 15px;
    background-color: rgb(233, 233, 233);
}

.product-article{
    justify-content: space-around;
}

.our-products-title{
    width: 100%;
    background-color: rgb(233, 233, 233);
    margin-bottom: 30px;
    text-transform: uppercase;
    position: sticky;
    top: 0.1px;
    z-index: 100;
    opacity: 80%;
}

.our-products-title h2{
    font-size: 1.1em;
    text-align: center;
    position: sticky;
    top: 1px;
    opacity: 80%;
    padding-top: 10px;
    margin-bottom: 10px;
}

.product-article{
    margin-bottom: 20px;
    width: 100%;
    padding: 30%;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(0, 39, 0);
    border-radius: 5px;
    position: relative;
    transition: all 450ms;
    
}

/*.product-article label{
  border: 1px solid red;  
}*/

.product-article:hover{
    box-shadow: 2px 2px 6px rgb(0 0 0 / 60%);
}


.product-article-img{
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid rgb(0, 39, 0);
    transition: all 650ms;   
}

.product-article:hover .product-article-img img{
    transform: scale(1.05);
    opacity: 90%;
    border-radius: 5%;
}

.product-article-img img{
    max-width: 100%;      
    transition: all 650ms;
}

.img-edit{
    padding: 10px;
    text-align: center;    
}
/*
.product-article-details h4{
    text-align: center;
}
*/
.product-title-edit{
    padding: 2px;
    text-align: center;
    margin-bottom: 25px;
}

/*.product-article-description{
    text-align: center;
    margin-bottom: 10px;
}

.product-description{
    padding: 3px;
    margin: 5px 20px;
    font-size: 12px;
    font-style: italic;
    text-align: justify;
    font-weight: lighter;
}
*/
.product-description-edit{
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;
       
}
input#user_email{
    min-width: 100%;
}
/*
.product-article-price{
    font-style: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}
*/
.price-edit{
    padding: 2px;
    text-align: center;
    margin-bottom: 25px;
}
.product-article-button{
    width: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: center;
    margin-top: 30px;
    justify-content: space-around;
}

.product-article-button button{
    min-width: 82px;
    max-width: 100px;
}

.product-article-edit-button{
    width: 40%;
    padding: 4px;
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
}

.fa-edit{
    padding: 5px;
}

.product-article-a-create{
    width: 100%;
    padding: 20px;
    text-align: center;
    text-decoration-line:none;
}

/*
.product-article-trash-button{
    width: 40%;
    padding: 4px;
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);

}


.fa-trash-alt{
    padding: 5px;
}
*/

.is-invalid{
    outline: none;
    border-style: hidden;
    box-shadow: 0px 0px 2px 0.5px rgb(235 2 2);
}

.is-valid{
    outline: none;
    border-style: hidden;
    box-shadow: 0px 0px 2px 0.4px rgb(20, 197, 20);
}

.error-valid{
    color: rgb(20, 197, 20);
}

.error-invalid{
    color: rgb(235, 2, 2)
}

@media (min-width: 481px){

    .our-products-title h2{
        font-size: 1.7em;
    }
    
    .products{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }
    
    .product-article{
        width: 100%;
    }

}
    

@media (min-width: 768px){

}

@media (min-width: 1280px){

    .our-products-title h2{
        font-size: 2em;
    }
    
    .products{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }
    
    .product-article{
        width: 100%;
    }
    
}
    
