*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "sarabun", sans-serif;
}

body{
    background-color: rgb(206, 241, 206);
}

header{
    font-family: sans-serif;
    background-color: rgb(175, 214, 175);
    padding-top: 5px;
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;  
    background-color: rgb(175, 214, 175);
    margin-bottom: 10px;
}

.burguer-menu{
    width: 15%;
    display: flex;
    justify-content: center;
}

.header-logo{ 
    width: 60%;
    display: flex;
    justify-content: center;
}
.header-logo img{ 
    width: 90%;
}

.shopping-cart{
    width: 15%;
    display: flex;
    justify-content: center;
}

.header-search-form{
    background-color: rgb(175, 214, 175);
    text-align: center;
    padding-bottom: 10px;
    border-radius: 4px;
    
}

.header-search-form input{
    width: 85%;
    border-radius: 4px;
}

header nav{
    display: none;
}

main{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.first-product{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.first-product img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70vh;
    width: 70vw;
    border-radius: 5px;
}

h2{
    font-size: 15px;
    text-align: justify;
}

.quantity{
    text-align: center;
    padding-bottom: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
}
h5{
    margin-top: 15px;
    font-size: 12px;
}

h6{
    margin-top: 15px;
    font-size: 12px;
    font-style: italic;
    text-align: justify;
    font-weight: lighter;
}
.register-form{
    padding: 20px;
    width: 89%;
    margin: 30px auto;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.register-form h2{
    margin-bottom: 20px;
    text-align: center;
}

.buy{
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.register-form-input label{
    margin-bottom: 3px;

}

.register-form-show-password{
    display: flex;
    align-items: center;
    margin-top: 4px;
    font-size: 14px;
}

.register-form-show-password input{
    margin-right: 4px;
}

.register-form h5{
    text-align: center;
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

.register-form-submit{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.register-form-submit button{
    padding: 5px;
    width: 80%;
    background-color: rgb(91, 219, 91);
    border-radius: 4px;
}

.register-form-submit a{
    margin-top: 7px;
    text-align: center;
}




@media (min-width: 768px){
    header nav{
        display: flex;
        justify-content: space-between;
    }
    
    header nav ul{
        display: flex;
        justify-content: space-around;
        margin: 5px 10px;
    }
    
    header nav ul li{
        list-style-type: none;
        padding: 5px;
    }
    
}
    
    
