*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "sarabun", sans-serif;
}

header{
    background-color: rgb(175, 214, 175);
    padding-top: 5px;
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;  
    background-color: rgb(175, 214, 175);
    margin-bottom: 10px;
}

.burguer-menu{
    width: 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.burguer-menu button{
    border: none;
    background-color: rgb(175, 214, 175);
}

.burguer-menu i{
    font-size: 24px;
}

.header-logo{ 
    width: 60%;
    display: flex;
    justify-content: center;
}
.header-logo img{ 
    width: 90%;
    max-width: 160px;
}

.shopping-cart{
    width: 15%;
    display: flex;
    justify-content: center;
}

.shopping-cart i{
    font-size: 22px;
}

.header-search-form{
    background-color: rgb(175, 214, 175);
    text-align: center;
    padding-bottom: 10px;
}

.header-search-form input{
    width: 87%;
    padding: 3px;
    border: 2px solid black;
    border-radius: 3px;
    position: relative;
    right: -5px;
}

.header-search-form button{
    padding: 3px;
    border: 2px solid black;
    border-radius: 3px;
    position: relative;
    left: -4px;
}

header nav{
    display: none;
}

/*Main*/

main{
    background-color: rgb(255, 255, 255);
}

.go-back {
    display: flex;
    margin: 10px;
    }
    
.go-back a{
    padding-right: 2px;
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

section{
    margin: 0px auto;
}
.first-product{
    max-width:100%;
    margin: 20px auto;
    position: relative;
    display: flex;
    padding: 20px 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(0, 39, 0);
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 60%);
}

h2{
    font-size: 30px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 15px;
}

.calendario-plantable-2022{
    width: 100%;
}
.first-product img{
    width:100%;
    height: 70%;
    border-radius: 5px;
    border:rgb(255, 255, 255)
}

.product-article-discount{
    position: absolute;
    left: 15px;
    top: 80px;
    width: 120px;
    padding: 5px;
    background-color: rgb(59, 59, 59);
    color: white;
    border-radius: 10px;
    opacity: 0.8;
}

.discount-discount{
    font-size: 14px;
    font-style: bold;
    color: rgb(113, 224, 1);
    text-align: center;
 }
 
.discount-p{
     font-size: 12px;
     text-align: center;
 }

h3{
    font-size: 30px;
    font-weight: lighter;
    margin-top: 20px;
}

.payment-shipping{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-align: center;
    color: rgb(175, 214, 175); 
    margin-top: 2%;
}

h4{
   margin-top: 5px; 
}

.quantity{
    text-align: center;
    padding-bottom: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 20px;
    box-sizing: border-box;
}

.buy{
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.buy-form-input label{
    margin-bottom: 3px;
}

.buy-form-submit{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.buy-form-submit button{
    width: 50%;
    padding: 4px; 
    background-color: #1F3A3B;
    text-align: center;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    margin-bottom: 10px;
    border: none;
    transition: all 450ms 
}

.buy-form-submit button:hover{
    background-color: rgb(175, 214, 175);
}

.buy-form-submit a{
    color:rgb(255, 255, 255)
}

h5{
    margin: 15px 20px;
    font-size: 12px;
    text-align: justify;
}

h6{
    margin: 15px 20px;
    font-size: 12px;
    font-style: italic;
    text-align: justify;
    font-weight: lighter;
}



/*footer*/

footer{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding-left: 5px;
    margin: auto;
    background-color: rgb(175, 214, 175);
 }
 .footer-nav{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin: 0px 10px;
     padding: 5px ;
     font-size: 15px;
 }
 .logo-footer{
     width: 50px;
     height: 50px;
     display: flex;
     flex-direction: column;
     padding: 15px 20px 0 0
 
    
 }
 .titulo-redes{
     text-decoration: underline;
     padding-bottom: 5px;
 }
 
 .footer-nav-redes{
     display: flex;
     flex-direction: column;
     list-style: none;
     padding: 10px;
 }
 
 .fa-instagram{
     background-color: rgb(245, 66, 93);
     color: white;
     font-size: large;
     text-align: center;
     width: 20px;
     height: 20px;
     
 }
 .fa-facebook-square{
     background-color: rgb(66, 72, 245);
     color: white;
     font-size: large;
     text-align: center;
     width: 20px;
     height: 20px;
     
 }
 
 .fa-twitter{
     background-color: rgb(66, 135, 245);
     color: white;
     font-size: large;
     text-align: center;
     width: 20px;
     height: 20px;
 }
 .footer-nav-nosotros{
     display: flex;
     flex-direction: column;
     list-style: none;
     padding: 10px;
 }
 .footer-nav-nosotros li{
     display: flex;
     flex-direction: row;
 }
 .footer-nav-nosotros li a{
 text-decoration: none;
 }
 .footer-nav-newsletter{
     display: flex;
     flex-direction: column;
     list-style: none;
     padding: 10px;
 
 }
 
 .email-newsletter{
     font-size: smaller;
 }
 
 .email-newsletter button{
     border: none;
     background-color: #1F3A3B;
     border-radius: 15px; 
     box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
     border: none;
     transition: all 450ms ;
     color:rgb(255, 255, 255);
     padding: 5px;
 }
     
     .email-newsletter button:hover{
         background-color: rgb(175, 214, 175);
     }
 
 
         
 
 .footer-wsp-button{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     background-color: rgb(15, 226, 15);
     box-shadow: 2px 2px 6px rgb(0 0 0 / 70%);
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;
     bottom: 8px;
     right: 8px;
 }
 
 .footer-wsp-button a i{
     font-size: 35px;
     width: 90%;
     background-color: rgb(15, 226, 15);
     color: white;
     text-align: center;
     position: relative;
     left: 0.5px;
 }
 
 .footer-copyright{
     padding: 25px 0 0 10px
 }
 
 .imagen-afip{
     align-items: flex-end;
     width: 40px;
     margin: inherit;
     padding: 25px 0 0 10px
 }

@media (min-width: 768px){
    header nav{
        display: flex;
        justify-content: space-between;
    }
    
    header nav ul{
        display: flex;
        justify-content: space-around;
        margin: 5px 10px;
    }
    
    header nav ul li{
        list-style-type: none;
        padding: 5px;
        
    }
    

    
    h6{
        margin-top:5px;
    }

    .footer-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: auto;
        padding-bottom: 5px;
        }
        .footer-nav-redes{
            display: flex;
            flex-direction: row;
            list-style: none;
            padding: 10px;
            flex-wrap: wrap;
            }
        .footer-nav-redes h5{
        width: 100%;
        }
        .footer-nav-redes li{
            margin-right: 10px;
        }
}
    
    
