/*Main*/

main{
    background-color: rgb(255, 255, 255);
}

.go-back {
    display: flex;
    margin: 10px;
    }
    
.go-back a{
    padding-right: 2px;
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

section{
    margin: 0px auto;
}
.first-product{
    max-width:100%;
    margin: 20px auto;
    position: relative;
    display: flex;
    padding: 20px 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(0, 39, 0);
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 60%);
}

.product-title{
    font-size: 20px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 15px;
}

.calendario-plantable-2022{
    width: 100%;
}
.first-product img{
    width:100%;
    height: 70%;
    border-radius: 10px;
    border:rgb(255, 255, 255);
}

.product-article-discount{
    position: absolute;
    left: 15px;
    top: 68px;
    width: 120px;
    padding: 5px;
    background-color: rgb(59, 59, 59);
    color: white;
    border-radius: 10px;
    opacity: 0.8;
}

.discount-discount{
    font-size: 14px;
    font-style: bold;
    color: rgb(113, 224, 1);
    text-align: center;
 }
 
.discount-p{
     font-size: 12px;
     text-align: center;
 }

h3{
    font-size: 30px;
    font-weight: lighter;
    margin-top: 20px;
}

.payment-shipping{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-align: center;
    color: rgb(175, 214, 175); 
    margin-top: 2%;
}

h4{
   margin-top: 5px; 
}

.quantity{
    text-align: center;
    padding-bottom: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 20px;
    box-sizing: border-box;
}

.quantity input{
    width: 50%;
}

.buy{
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.buy-form-input label{
    margin-bottom: 3px;
}

.buy-form-submit{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.buy-form-submit button{
    width: 50%;
    padding: 4px; 
    background-color: #1F3A3B;
    text-align: center;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    margin-bottom: 10px;
    border: none;
    transition: all 450ms 
}

.buy-form-submit button:hover{
    background-color: rgb(175, 214, 175);
}

.buy-form-submit button a{
    color:rgb(255, 255, 255);
}

.description{
    list-style: none;
    font-size: 12px;
}

.description li{
    margin: 5px;
}
.description i{
    font-size: 7px;
    text-align: center;
    padding: 1px;
}

h5{
    margin: 15px 20px;
    text-align: justify;
}

h6{
    margin: 15px 20px;
    font-size: 12px;
    font-style: italic;
    text-align: justify;
    font-weight: lighter;
}

/* Botones de Detail */
.product-article-button{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: center;
    justify-content: space-around;
}

.product-article-button button{
    min-width: 82px;
    max-width: 100px;
}

.product-article-edit-button{
    width: 40%;
    padding: 4px;
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);

}

.fa-edit{
    padding: 5px;
}
.product-article-trash-button{
    width: 40%;
    padding: 4px;
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    border-radius: 15px; 
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);

}

.fa-trash-alt{
    padding: 5px;
}

a:visited{
    color: initial;

}

/* media */

@media (min-width: 481px){

    .first-product{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }

    .product-title{
        font-size: 1.7em;
        text-align: center;
    }
    
    .product-article-discount{
        top: 77px;
        left: 15px;
        opacity: 80%;
        width: 30%
    }

    h3{
        font-size: 3em;
        text-align: center
    }

    .payment-shipping{
        font-size: 0.7em;
    }

    .quantity input{
        padding: 4px;
        font-size: 16px;
        width: 150px;
    }

    .buy-form-submit button{
        width: 150px;
    }
}

@media (min-width: 768px){
  
    .first-product{
        margin: 20px;
        display: flex;
        flex-direction: column;
    }

    .product-title{
        font-size: 2em;
        text-align: center;
    }

    .product-article-discount{
        top: 82px;
        left: 15px;
        opacity: 80%;
        width: 30%
    }

    h3{
        font-size: 4em;
        text-align: center
    }

    .payment-shipping{
        font-size: 1em;
    }

    .quantity input{
        padding: 4px;
        font-size: 16px;
    }

    .buy-form-submit button{
        width: 170px;
    }

    
    h6{
        margin-top:5px;
    }

}


@media (min-width: 1280px){

    .product-title{
        font-size: 2em;
    }
    
    .first-product{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }
}
    
